<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Search Singer</title>

    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <script crossorigin="anonymous"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    </script>

</head>

<body>
    <h2>Search Singer</h2>
    <form action="/searchResults" method="GET">
        <div class="form-group row">
            <label for="Singer_Name">Singer Name:</label>
            <input type="text" class="form-control" id="Singer_Name" name="Singer_Name">
        </div>
        <div class="form-group row">
            <label for="Gender">Singer's Gender:</label>
            <input type="text" class="form-control" id="Gender" name="Gender">
        </div>
        <div class="form-group row">
            <label for="Preferred_Musical_Genre">Muscial Genre:</label>
            <input type="text" class="form-control" id="Preferred_Musical_Genre" name="Preferred_Musical_Genre">
        </div>
        <div class="form-group row">
            <label for="Location_City">Location/City:</label>
            <input type="text" class="form-control" id="Location_City" name="Location_City">
        </div>
        <div class="form-group row">
            <label for="Country">Country:</label>
            <input type="text" class="form-control" id="Country" name="Country">
        </div>
        <div class="form-group row">
            <label for="Negotiable_Hourly_Rate">Negotiable Hourly Rate:</label>
            <input type="text" class="form-control" id="Negotiable_Hourly_Rate" name="Negotiable_Hourly_Rate">
        </div>
        <br>
        <input type="submit" value="Search">
    </form>
</body>
</html>